
$bebas-neue:"BebasNeue", sans-serif;
$lobster-1-4:Lobster, Arial, sans-serif;

$head-bg: #fefcea;
$head-content-grad: linear-gradient(to top,#fefcea, #75c7ff);
$content-grad: linear-gradient(to bottom,#fefcea, #77c6ff);
$button-gradient: linear-gradient(to bottom,#54a8cd, #9ac2ce);
$button-gradient-hover: linear-gradient(to top,#54a8cd, #9ac2ce);
$border-owl-span: 1.5px solid rgba(0,0,0,0.5);
$background-owl-span: rgba(0, 0, 0, 0.5);
$border-owl-img:  3px solid transparent;